[submodule "ESP8266_RTOS_SDK"]
	path = ESP8266_RTOS_SDK
	url = https://github.com/matuzalemmuller/ESP8266_RTOS_SDK
[submodule "embedded-bdi"]
	path = embedded-bdi
	url = https://github.com/matuzalemmuller/embedded-bdi
